html {
  height: 100vh;
}
body {
  margin: 0;
  padding: 0;
  height: 100%;
}
header {
  padding-left: 16px;
  padding-right: 16px;
  align-items: center;
  max-height: 5%;
  display: flex;
}
.reset-button {
  margin-left: auto;
}
.main {
  height: 90%;
}
.screen {
  border: solid #ef0f0f 16px;
  max-width: 50%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-left: 25%;
}
.hover {
  background-color: black;
}
