body {
  height: 100vh;
}
.header{
  display: flex;
  height: auto;
  margin-bottom: 8px;
}
.reset-button {
  margin-left: auto;
}
.container {
  height: 95%;
  display: flex;
  flex-wrap: wrap;
}
.container > div {
  width: 6.25%;
  height: 6.25%;
}
.hover {
  background-color: black;
}
